# Python
__pycache__/
*.pyc
.venv/
ClearPose.egg-info/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OSX
*.DS_Store


# Data
data/
*.png
*.jpg
*.json
*.pdf
*.pt
stats/
incorrect_intrinsic/
down_stats2/
