# Python
__pycache__/
*.pyc
.venv/
ClearPose.egg-info/
*.egg-info/
*.egg*

# Jupyter
.ipynb_checkpoints/

# OSX
*.DS_Store


# Data
data/
*.png
*.jpg
*.json
*.pdf
*.pt

## for ffb6d
****/*.tar
****/*.pkl
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
****/*.so
clearpose/he_ffb6d/ffb6d/datasets/ycb/YCB_Video_Dataset
clearpose/he_ffb6d/ffb6d/datasets/linemod/Linemod_preprocessed
clearpose/he_ffb6d/ffb6d/datasets/ycb/YCB_Video_Dataset
clearpose/he_ffb6d/ffb6d/datasets/clearpose/dataset
clearpose/he_ffb6d/apex/
clearpose/he_ffb6d/normalSpeed/
experiments/he_ffb6d/models/
experiments/he_ffb6d/train_log/
